.pageHostPodium {
    width: 300vw;
    height: 100%;
    position: absolute;
    top: 0px;
    background: var(--gradient);
    background-size: cover;
    overflow: hidden;
    transition: right 1s ease-in-out;
}

.pageHostPodium>.podiumContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    overflow: hidden;
}

.pageHostPodium>.podiumContainer>.medalContainer {
    width: 90vw;
    max-width: calc(300px + 10vw);
    background-color: #ccc;
    border-radius: 5px;
    /*filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.479));*/
    box-shadow: 0 0 60px #fff;
    opacity: 0;
    color: black;
}

.pageHostPodium>.podiumContainer>.medalContainer.shown {
    opacity: 1;
    animation: cardfadein 3s forwards;
}

@keyframes cardfadein {
    0% {
        opacity: 0;
        color: #ccc;
        transform: scaleY(0);
        box-shadow: none;
    }

    50% {
        opacity: 1;
        transform: scaleY(1);
        color: #ccc;
        box-shadow: none;
    }

    100% {
        color: black;
        box-shadow: 0 0 60px #fff;
    }
}

.pageHostPodium>.podiumContainer>.medalContainer>img {
    width: 100%;
    padding: 5% 20%;
}

.pageHostPodium>.podiumContainer>.medalContainer>p {
    text-align: center;
    font-size: 4em;
    margin: 10px;
}