.pagePlayerAnswer .bg {
    background-color: #ccc;
}

.pagePlayerAnswer .content>.topbar,
.pagePlayerAnswer .content>.footer {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: var(--topbar);
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 6px;
    box-shadow: var(--subtle-shadow);
    justify-content: space-between;
}

.pagePlayerAnswer .content>.topbar {
    justify-content: flex-start;
}

.pagePlayerAnswer .content>.topbar>.progress {
    font-size: 18px;
    font-weight: bold;
}

.pagePlayerAnswer .content>.topbar>.type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

.pagePlayerAnswer .content>.footer>.name,
#pagePlayerAnswerNormal .content>.footer>.points {
    background-color: var(--color-btn);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

.pagePlayerAnswer .content>.wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - var(--topbar) - var(--topbar));
    --gap: 8px
}

/******************************************************************************************************************/

#pagePlayerAnswerNormal .content>.wrapper>button {
    width: calc(50% - var(--gap) - var(--gap));
    height: calc(50% - var(--gap) - var(--gap));
    position: absolute;
    font-size: calc(30vh - var(--topbar) - var(--gap) - var(--gap));
}

#pagePlayerAnswerNormal .content>.wrapper>button.btn-a {
    top: var(--gap);
    left: var(--gap);

}

#pagePlayerAnswerNormal .content>.wrapper>button.btn-b {
    top: var(--gap);
    right: var(--gap);

}

#pagePlayerAnswerNormal .content>.wrapper>button.btn-c {
    bottom: var(--gap);
    left: var(--gap);

}

#pagePlayerAnswerNormal .content>.wrapper>button.btn-d {
    bottom: var(--gap);
    right: var(--gap);

}

/******************************************************************************************************************/

#pagePlayerAnswerTrueFalse .content>.wrapper>button {
    width: calc(50% - var(--gap) - var(--gap));
    height: calc(100% - var(--gap) - var(--gap));
    position: absolute;
    font-size: calc(30vh - var(--topbar) - var(--gap) - var(--gap));
}

#pagePlayerAnswerTrueFalse .content>.wrapper>button.btn-a {
    top: var(--gap);
    right: var(--gap);
    background-color: var(--color-btn-blue);
    border-color: var(--color-btn-blue-darker);
}

#pagePlayerAnswerTrueFalse .content>.wrapper>button.btn-b {
    top: var(--gap);
    left: var(--gap);
    background-color: var(--color-btn-red);
    border-color: var(--color-btn-red-darker);
}

/******************************************************************************************************************/

#pagePlayerAnswerSelect .content>.wrapper {
    height: calc(85% - var(--topbar) - var(--topbar));
}

#pagePlayerAnswerSelect .content>.submit {
    height: 15%;
    padding: 8px;
}

#pagePlayerAnswerSelect .content>.submit>button {
    width: 100%;
    height: 100%;
    font-size: 7vh;
}

#pagePlayerAnswerSelect .content>.wrapper>button {
    width: calc(50% - var(--gap) - var(--gap));
    height: calc(50% - var(--gap) - var(--gap));
    position: absolute;
    font-size: calc(30vh - var(--topbar) - var(--gap) - var(--gap));
}

#pagePlayerAnswerSelect .content>.wrapper>button.unselected {
    opacity: 25%;
}

#pagePlayerAnswerSelect .content>.wrapper>button.a {
    top: var(--gap);
    left: var(--gap);
}

#pagePlayerAnswerSelect .content>.wrapper>button.b {
    top: var(--gap);
    right: var(--gap);
}

#pagePlayerAnswerSelect .content>.wrapper>button.c {
    bottom: var(--gap);
    left: var(--gap);
}

#pagePlayerAnswerSelect .content>.wrapper>button.d {
    bottom: var(--gap);
    right: var(--gap);
}

/******************************************************************************************************************/

#pagePlayerAnswerText .content>.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--gap);
}

#pagePlayerAnswerText .content>.wrapper>input {
    font-size: 10vmin;
    width: 100%;
    height: 20vmin;
    margin-bottom: var(--gap);
}

#pagePlayerAnswerText .content>.wrapper>button {
    width: 100%;
    height: 20vmin;
    font-size: 10vmin;
}