.pageHostAnswers .content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.pageHostAnswers .content>.topbar {
    width: calc(100% - var(--gap) - var(--gap));
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--gap);
}

.pageHostAnswers .content>.topbar>.question {
    background-color: white;
    width: 100%;
    margin-right: var(--gap);
    padding: var(--gap);
    font-size: 3vmin;
    text-align: center;
    box-shadow: var(--subtle-shadow);
    border-radius: 5px;
}

.pageHostAnswers .content>.topbar>.button {
    color: black;
    background-color: white;
    border-color: #ccc;
}

.pageHostAnswers .content>.media {
    margin: var(--gap);
    min-height: calc(50vmin - var(--gap) - var(--gap));
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pageHostAnswers .content>.media>span {
    height: 100%;
}

.pageHostAnswers .content>.media img {
    height: 100%;
    max-height: 100%;
    box-shadow: var(--subtle-shadow);
    border-radius: 5px;
    object-fit: contain;
}

.pageHostAnswers .content>.buttons {
    position: relative;
    margin: var(--gap);
    height: calc(100% - var(--gap) - var(--gap));
}

.pageHostAnswers .content>.buttons>button>.char {
    font-size: 9vmin;
    float: left;
    height: 100%;
    padding: 0px;
    margin-right: var(--gap);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pageHostAnswers .content>.buttons>button>.text {
    font-size: 3vmin;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pageHostAnswers .content>.answers {
    position: absolute;
    right: 16px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 4vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    color: white;
    background-color: blueviolet;
    border-radius: 2vmin;
    padding: 10px;
    box-shadow: var(--subtle-shadow);
}

.pageHostAnswers .content>.seconds {
    position: absolute;
    left: 16px;
    top: 40%;
    width: 15vmin;
    height: 15vmin;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--subtle-shadow);
    color: white;
    font-size: 8vmin;
}

/*********************************************************************/

.pageHostAnswers .content>.buttons>button {
    position: absolute;
    width: calc(50% - calc(var(--gap) / 2));
    height: calc(50% - calc(var(--gap) / 2));
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.pageHostAnswers.normal .content>.buttons>.btn-a {
    top: 0px;
    left: 0px;
}

.pageHostAnswers.normal .content>.buttons>.btn-b {
    top: 0px;
    right: 0px;
}

.pageHostAnswers.normal .content>.buttons>.btn-c {
    bottom: 0px;
    left: 0px;
}

.pageHostAnswers.normal .content>.buttons>.btn-d {
    bottom: 0px;
    right: 0px;
}

/*************************************************************************/

.pageHostAnswers.truefalse .content>.buttons>button {
    height: 100%;
}

.pageHostAnswers.truefalse .content>.buttons>.btn-a {
    top: 0px;
    left: 0px;
}

.pageHostAnswers.truefalse .content>.buttons>.btn-b {
    top: 0px;
    right: 0px;
}

.pageHostAnswers.truefalse .content>.buttons>button>.text {
    font-size: 15vmin;
}

/*************************************************************************/

.pageHostAnswers.text .content>.media {
    height: 100%;
}

/*************************************************************************/

.pageHostAnswers.text.result .content>.wrapper {
    margin: var(--gap);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

#pageHostResultsText-correct,
#pageHostResultsText-wrong {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin: var(--gap);
}

#pageHostResultsText-correct>div,
#pageHostResultsText-wrong>div {
    margin: var(--gap);
    padding: var(--gap);
    display: inline;
    border-radius: 5px;
    box-shadow: var(--subtle-shadow);
    color: white;
    background-color: #56ab2f;
}

#pageHostResultsText-wrong>div {
    background-color: #ef473a;
}

/*************************************************************************/

.pageHostAnswers.result .content>.buttons>button.incorrect {
    opacity: 0.3;
}

.pageHostAnswers.result .content>.buttons>button>.statusIndicator {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 5vmin;
    transform: translate(33%, -33%);
    z-index: 9999;
}

.pageHostAnswers.result .content>.poles {
    margin: var(--gap);
    min-height: calc(50vmin - var(--gap) - var(--gap));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.pageHostAnswers.result .content>.poles>.pole {
    width: 50%;
    background-color: rgba(202, 202, 202, 0.5);
    margin-bottom: var(--gap);
    border-radius: 5px;
    height: 100%;
}

.pageHostAnswers.result .content>.poles>.pole>.amount {
    float: left;
    width: 10%;
    font-size: 4vmin;
    height: 100%;
    margin: 0px;
    background-color: var(--color);
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 8px 0px 5px rgba(0, 0, 0, 0.144);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageHostAnswers.result .content>.poles>.pole>.bar {
    float: left;
    height: 100%;
    background-color: var(--color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}