/* Credits
https://codepen.io/mohaiman/pen/MQqMyo
https://codepen.io/samdbeckham/pen/eJpxYR
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --color-btn-red: #ce0541;
    --color-btn-blue: #033ec9;
    --color-btn-yellow: #c9c903;
    --color-btn-green: #02bb39;

    --color-btn-red-darker: #850129;
    --color-btn-blue-darker: #02267a;
    --color-btn-yellow-darker: #6d6d01;
    --color-btn-green-darker: #016b21;

    --gradient: linear-gradient(to right, #FFD200, #F7971E);
    /*--gradient: linear-gradient(to right, #f9b660, #ffdf4c);*/
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

/*******************************************************
/*      Player Join Page
/*******************************************************/

.page-playerJoin-bg {
    background: #F7971E;
    background: var(--gradient);
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.page-playerJoin-bg li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: shapeAnimation 25s linear infinite;
    bottom: -150px;
}

.page-playerJoin-bg li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.page-playerJoin-bg li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.page-playerJoin-bg li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.page-playerJoin-bg li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.page-playerJoin-bg li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.page-playerJoin-bg li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.page-playerJoin-bg li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.page-playerJoin-bg li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.page-playerJoin-bg li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.page-playerJoin-bg li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes shapeAnimation {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.page-playerJoin {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-playerJoin>.center {
    width: 90%;
    max-width: calc(600px + 10%);
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.479));
}

.page-playerJoin>.center>img {
    width: 100%;
    margin-bottom: 10px;
}

.page-playerJoin>.center>.form-container {
    background: white;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.page-playerJoin>.center>.form-container>input {
    font-size: 1.4em;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    outline: none;
}

.page-playerJoin>.center>.form-container>button {
    font-size: 1.4em;
    padding: 10px;
    display: block;
    width: 100%;
    outline: none;
    background-color: #444444;
    border: 1px solid;
    border-bottom: 5px solid;
    border-color: #292929;
    border-radius: 3px;
    color: white;
    transition: border-bottom 0.2s, transform 0.2s, margin 0.2s;
}

.page-playerJoin>.center>.form-container>button:active {
    transform: translateY(2px);
    border-bottom: 3px solid;
    border-color: #292929;
    margin-top: 2px;
}

/*******************************************************
/*      Player Join Page
/*******************************************************/

.page-waiting {
    background: linear-gradient(to right, #232526, #414345);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes rainbowdvd {

    0%,
    100% {
        fill: var(--color-btn-red);
    }

    25% {
        fill: var(--color-btn-blue);
    }

    50% {
        fill: var(--color-btn-yellow);
    }

    75% {
        fill: var(--color-btn-green);
    }
}

.page-waiting svg {
    animation: rainbowdvd 6s steps(1, end) infinite;
}

/*******************************************************
/*      Host Lobby
/*******************************************************/

.pageHostLobby {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.pageHostLobby>.header {
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageHostLobby>.header>p {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    height: 90%;
    margin: 0px;
}

.pageHostLobby>.header>.info {
    font-size: calc((13.5vh - 40px) / 2);
    margin-right: 10px;
}

.pageHostLobby>.header>.id {
    font-size: calc(13.5vh - 40px);
    font-weight: 800;
}

.pageHostLobby>.controlbar {
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pageHostLobby>.controlbar>p {
    margin: 0px;
    background-color: #29292986;
    color: white;
    padding: 10px;
    margin: 0px 10px;
    font-size: 1.4em;
}

.pageHostLobby>.controlbar>button {
    font-size: 1.4em;
    padding: 10px 20px;
    outline: none;
    background-color: #444444;
    border: 1px solid;
    border-bottom: 5px solid;
    border-color: #292929;
    border-radius: 3px;
    color: white;
    transition: border-bottom 0.2s, transform 0.2s, margin 0.2s;
    margin: 0px 10px;
}

.pageHostLobby>.controlbar>button:active {
    transform: translateY(2px);
    border-bottom: 3px solid;
    border-color: #292929;
    margin-top: 2px;
}

.pageHostLobby>.wrapper {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageHostLobby>.wrapper>.center {
    position: relative;
    width: 60%;
    height: 80%;
}

.pageHostLobby>.wrapper>.center>p {
    padding: 10px;
    background-color: #29292931;
    margin: 10px;
    display: inline-block;
    font-size: 1.6em;
    border-radius: 3px;
}

/*******************************************************
/*      Player Answer 
/*******************************************************/

.pagePlayerAnswer {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.pagePlayerAnswer>.topbar {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.144);
}

.pagePlayerAnswer>.topbar>.progress {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    margin: 0px;
}

.pagePlayerAnswer>.topbar>.type {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    margin: 0px;
}

.pagePlayerAnswer>.footer {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.144);
}

.pagePlayerAnswer>.footer>.name {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    margin: 0px;
}

.pagePlayerAnswer>.footer>.points {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    margin: 0px;
    background-color: #292929;
    padding: 5px;
    color: white;
    border-radius: 3px;
}

.pagePlayerAnswer>.cards {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    --card-gap: 16px;
    --card-height: calc(calc(100% - calc(var(--card-gap) * 3)) / 2);
    --card-width: calc(calc(100% - calc(var(--card-gap) * 3)) / 2);
}

.pagePlayerAnswer.TrueFalse>.cards {
    --card-height: calc(100% - calc(var(--card-gap) * 2));
}

.pagePlayerAnswer.Text>.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagePlayerAnswer>.cards>button {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    border: 2px solid;
    border-bottom: 10px solid;
    border-radius: 5px;
    transition: border-bottom 0.2s, transform 0.2s, margin 0.2s;
    font-size: calc(calc(calc(calc(100vh - 120px) - calc(var(--card-gap) * 3)) / 2) / 2);
    color: white;
}

.pagePlayerAnswer>.cards>button:active {
    transform: translateY(5px);
    border-bottom: 5px solid;
}

.pagePlayerAnswer>.cards>.card-a {
    top: var(--card-gap);
    left: var(--card-gap);
    background-color: var(--color-btn-red);
    border-color: var(--color-btn-red-darker);
}

.pagePlayerAnswer>.cards>.card-a:active {
    border-color: var(--color-btn-red-darker);
}

.pagePlayerAnswer>.cards>.card-b {
    top: var(--card-gap);
    right: var(--card-gap);
    background-color: var(--color-btn-blue);
    border-color: var(--color-btn-blue-darker);
}

.pagePlayerAnswer>.cards>.card-b:active {
    border-color: var(--color-btn-blue-darker);
}

.pagePlayerAnswer>.cards>.card-c {
    bottom: var(--card-gap);
    left: var(--card-gap);
    background-color: var(--color-btn-yellow);
    border-color: var(--color-btn-yellow-darker);
}

.pagePlayerAnswer>.cards>.card-c:active {
    border-color: var(--color-btn-yellow-darker);
}

.pagePlayerAnswer>.cards>.card-d {
    bottom: var(--card-gap);
    right: var(--card-gap);
    background-color: var(--color-btn-green);
    border-color: var(--color-btn-green-darker);
}

.pagePlayerAnswer>.cards>.card-d:active {
    border-color: var(--color-btn-green-darker);
}


.pagePlayerAnswer.TrueFalse>.cards>.card-a {
    background-color: var(--color-btn-blue);
    border-color: var(--color-btn-blue-darker);
}

.pagePlayerAnswer.TrueFalse>.cards>.card-a:active {
    border-color: var(--color-btn-blue-darker);
}

.pagePlayerAnswer.TrueFalse>.cards>.card-b {
    background-color: var(--color-btn-red);
    border-color: var(--color-btn-red-darker);
}

.pagePlayerAnswer.TrueFalse>.cards>.card-b:active {
    border-color: var(--color-btn-red-darker);
}

.pagePlayerAnswer.Text>.cards>.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pagePlayerAnswer.Text>.cards input {
    font-size: 7em;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
    width: 95%;
}

.pagePlayerAnswer.Text>.cards button {
    font-size: 7em;
    padding: 10px 20px;
    outline: none;
    background-color: #444444;
    border: 1px solid;
    border-bottom: 5px solid;
    border-color: #292929;
    border-radius: 3px;
    color: white;
    transition: border-bottom 0.2s, transform 0.2s, margin 0.2s;
    margin: 0px 10px;
}

.pagePlayerAnswer.Text>.cards button:active {
    transform: translateY(2px);
    border-bottom: 3px solid;
    border-color: #292929;
    margin-top: 2px;
}

/*******************************************************
/*      Player Correct / Wrong
/*******************************************************/

.pagePlayerResultWrong {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ef473a, #cb2d3e);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagePlayerResultCorrect {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #56ab2f, #a8e063);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagePlayerResultCorrect>.center,
.pagePlayerResultWrong>.center {
    max-width: 500px;
    width: 75%;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.pagePlayerResultCorrect>.center>img,
.pagePlayerResultWrong>.center>img {
    height: 5rem;
}

.pagePlayerResultCorrect>.center>p,
.pagePlayerResultWrong>.center>p {
    margin: 16px 0px;
}

.pagePlayerResultCorrect>.center>.indicator,
.pagePlayerResultWrong>.center>.indicator {
    font-weight: bold;
    font-style: italic;
}

/*******************************************************
/*      Host Question
/*******************************************************/

.pageHostQuestion {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageHostQuestion>.wrapper {
    margin: 60px;
}

.pageHostQuestion>.wrapper>h1 {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 4em;
}

.pageHostQuestion>.wrapper>.progress {
    background-color: white;
    height: 30px;
    border-radius: 10px;
}

/*******************************************************
/*      pageHostAnswers
/*******************************************************/

.pageHostAnswers {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ccc;
}

.pageHostAnswers>.topbar {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.144);
}

.pageHostAnswers>.topbar>p {
    padding: 0px 10px;
}

.pageHostAnswers>.content {
    position: relative;
    width: 100%;
    height: calc(50% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageHostAnswers.Text>.content {
    height: calc(100% - 60px);
}

.pageHostAnswers>.content>span {
    height: calc(100% - 120px);
}

.pageHostAnswers>.content>span:has(iframe) {
    position: relative;
    width: 60vw;
    height: 0;
    padding-bottom: calc(50vh - 60px);
}

.pageHostAnswers>.content>span>iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.pageHostAnswers>.content>span>img {
    height: 100%;
}

.pageHostAnswers>.content>span>h1 {
    text-align: center;
}

.pageHostAnswers>.content>.wrapper>.pole {
    width: 100%;
    background-color: rgb(170, 170, 170);
    margin-bottom: 10px;
    border-radius: 5px;
}

.pageHostAnswers>.content>.wrapper>.pole>.amount {
    float: left;
    width: 10%;
    font-size: 2em;
    height: 100%;
    margin: 0px;
    background-color: var(--color);
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 8px 0px 5px rgba(0, 0, 0, 0.144);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageHostAnswers>.content>.wrapper>.pole>.bar {
    float: left;
    height: 100%;
    background-color: var(--color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.pageHostAnswers>.cards {
    --card-gap: 16px;
    position: relative;
    width: 100%;
    height: calc(50% - 30px);
}

.pageHostAnswers>.cards>button {
    position: absolute;
    width: calc(calc(100% - calc(var(--card-gap) * 3)) / 2);
    height: calc(calc(100% - calc(var(--card-gap) * 3)) / 2);
    border: 2px solid;
    border-bottom: 6px solid;
    border-radius: 3px;
    color: white;
}

.pageHostAnswers.TrueFalse>.cards>button {
    height: calc(100% - calc(var(--card-gap) * 2));
}

.pageHostAnswers>.cards>button>.char {
    font-size: calc(calc(calc(50vh - 60px) - calc(var(--card-gap) * 3)) / 4);
    float: left;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px;
    margin: 0px;
}

.pageHostAnswers>.cards>button>.text {
    font-size: 3em;
    float: left;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;

    padding: 0px;
    margin: 0px;
}

.pageHostAnswers.TrueFalse>.cards>button>.text {
    font-size: 12em;
}

.pageHostAnswers>.cards>button>.statusIndicator {
    position: absolute;
    right: 0px;
    top: 0px;
    width: calc(var(--card-gap) * 3);
    transform: translate(33%, -33%);
}

.pageHostAnswers>.cards>.card-red {
    top: var(--card-gap);
    left: var(--card-gap);
    background-color: var(--color-btn-red);
    border-color: var(--color-btn-red-darker);
}

.pageHostAnswers>.cards>.card-blue {
    top: var(--card-gap);
    right: var(--card-gap);
    background-color: var(--color-btn-blue);
    border-color: var(--color-btn-blue-darker);
}

.pageHostAnswers>.cards>.card-yellow {
    bottom: var(--card-gap);
    left: var(--card-gap);
    background-color: var(--color-btn-yellow);
    border-color: var(--color-btn-yellow-darker);
}

.pageHostAnswers>.cards>.card-green {
    bottom: var(--card-gap);
    right: var(--card-gap);
    background-color: var(--color-btn-green);
    border-color: var(--color-btn-green-darker);
}

.pageHostAnswers.TrueFalse>.cards>.card-red {
    left: auto;
    right: var(--card-gap);
}

.pageHostAnswers.TrueFalse>.cards>.card-blue {
    right: auto;
    left: var(--card-gap);
}

.pageHostAnswers>.answers {
    position: absolute;
    right: 16px;
    top: 32%;
    transform: translateY(-50%);
    font-size: 2em;
}

.pageHostAnswers>.seconds {
    position: absolute;
    left: 16px;
    top: 32%;
    width: 15vh;
    height: 15vh;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(10px 10px 4px rgb(148, 148, 148));
}

.pageHostAnswers>.seconds>p {
    color: white;
    font-size: 8vh;
}

/*******************************************************
/*      pageHostAnswers
/*******************************************************/

.pageHostAnswerText {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    text-align: center;
}

.pageHostAnswerText>.topbar {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.144);
}

.pageHostAnswerText>.topbar>p {
    padding: 0px 10px;
}

.pageHostAnswerText>div>p {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    font-size: 1.6em;
    border-radius: 5px;
}

.pageHostAnswerText>.correct>p {
    background-color: #56ab2f;
}

.pageHostAnswerText>.wrong>p {
    background-color: #f23052;
}

/*******************************************************
/*      pageHostAnswers
/*******************************************************/

.topbar-button {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 10px;
    font-size: 20px;
    padding: 10px 20px;
    display: block;
    outline: none;
    background-color: #444444;
    border: 1px solid;
    border-bottom: 5px solid;
    border-color: #292929;
    border-radius: 3px;
    color: white;
    transition: border-bottom 0.2s, transform 0.2s, margin 0.2s;
}

.topbar-button:active {
    transform: translateY(calc(-50% + 2px));
    border-bottom: 3px solid;
    border-color: #292929;
    margin-top: 2px;
}

/*******************************************************
/*      hostPodium
/*******************************************************/

.pageHostPodium {
    width: 300vw;
    height: 100%;
    position: absolute;
    top: 0px;
    background: var(--gradient);
    background-size: cover;
    overflow: hidden;
    transition: right 1s ease-in-out;
}

.pageHostPodium>.podiumContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    overflow: hidden;
}

.pageHostPodium>.podiumContainer>.medalContainer {
    width: 90vw;
    max-width: calc(300px + 10vw);
    background-color: #ccc;
    border-radius: 5px;
    /*filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.479));*/
    box-shadow: 0 0 60px #fff;
    opacity: 0;
    color: black;
}

.pageHostPodium>.podiumContainer>.medalContainer.shown {
    opacity: 1;
    animation: cardfadein 3s forwards;
}

@keyframes cardfadein {
    0% {
        opacity: 0;
        color: #ccc;
        transform: scaleY(0);
        box-shadow: none;
    }

    50% {
        opacity: 1;
        transform: scaleY(1);
        color: #ccc;
        box-shadow: none;
    }

    100% {
        color: black;
        box-shadow: 0 0 60px #fff;
    }
}

.pageHostPodium>.podiumContainer>.medalContainer>img {
    width: 100%;
    padding: 5% 20%;
}

.pageHostPodium>.podiumContainer>.medalContainer>p {
    text-align: center;
    font-size: 4em;
    margin: 10px;
}